@font-face {
  font-family: 'FF Yaseer';
  font-style: normal;
  font-weight: 400;
  src: url(FFYaseer-Regular.otf);
}
body{
	font-family: FF Yaseer;
}
.rr{
	margin:0 auto;
}
.col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  #login{
	width: 600px;
	height: 400px;
	border: 2px solid black;
	border-radius: 15px;
	margin: 0 auto;
	
}
.text{
	margin-top: 140px;
	font-family:  sans-serif;
}
.log{
	margin : 0 auto;
}
.mt-5{
	margin-top: 6.9rem !important;
}
.btn-primary{
	background-color: white;
	color: black;
	margin-left: 2px;
	margin-bottom: 5px;
}
.ooi{
	font-size: 12px;
	margin-left: 0px;
	margin-bottom: 0px;
}